// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-secondary;
  font-size: $base-font-size;
  color: $primary-color;
  background-color: $light-color;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $secondary-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}
