// Colors
$primary-color: #181818; // Negro intenso
$secondary-color: #e63946; // Rojo CrossFit
$light-color: #f1faee; // Blanco sucio
$gray-color: #a8dadc; // Gris claro

// Typography
$font-primary: 'Anton', sans-serif; // Titulares
$font-secondary: 'Open Sans', sans-serif; // Texto
$base-font-size: 16px;
